[Unit]
Description=Cage kiosk
After=seatd.service systemd-user-sessions.service
Wants=seatd.service

[Service]
Type=simple
User=kiosk
PAMName=login
TTYPath=/dev/tty1
StandardInput=tty-fail
StandardOutput=journal
StandardError=journal
UtmpIdentifier=tty1
UtmpMode=user
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/usr/bin/cage -- /usr/bin/chromium --kiosk https://code.esporterz.com
Restart=always
RestartSec=2

[Install]
WantedBy=graphical.target
